body {
    font-family: 'Nunito', sans-serif;
    background-color: rgba(151, 148, 148, 0.911);
    padding-left: 160px;
    padding-right: 160px;
}

.leftside {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-image: linear-gradient(to right, rgba(145, 84, 163, 0.527) , rgba(151, 148, 148, 0.267));
    overflow-x: hidden; 
    padding-top: 20px;
}

.rightside {
    height: 100%; 
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-image: linear-gradient(to left, rgba(145, 84, 163, 0.527) , rgba(151, 148, 148, 0.267));
    overflow-x: hidden;
    padding-top: 20px;
    justify-content: right;
}

.header {
    height: 200px;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-bottom: 250px;
}

.email {
    text-align: right;
}

.picturecontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid #333;
}

.image {
    border-radius: 6px;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
}

h4 {
    font-size: 2em;
    font-weight: bold;
    text-align: right;
}

